mixin rate-button(setNumber)
  ul.rate-button(class= attributes.class)
    li.rate-button__item
      input.visually-hidden(id= `set-number-${setNumber}-star-1`, type=`checkbox`, name=`rate`, value=`1`)
      label.rate-button__star(for=`set-number-${setNumber}-star-1`)
        span.visually-hidden 1 звезда
    li.rate-button__item
      input.visually-hidden(id=`set-number-${setNumber}-star-2`, type=`checkbox`, name=`rate`, value=`2`)
      label.rate-button__star(for=`set-number-${setNumber}-star-2`)
        span.visually-hidden 2 звезды
    li.rate-button__item
      input.visually-hidden(id=`set-number-${setNumber}-star-3`, type=`checkbox`, name=`rate`, value=`3`)
      label.rate-button__star(for=`set-number-${setNumber}-star-3`)
        span.visually-hidden 3 звезды
    li.rate-button__item
      input.visually-hidden(id=`set-number-${setNumber}-star-4`, type=`checkbox`, name=`rate`, value=`4`)
      label.rate-button__star(for=`set-number-${setNumber}-star-4`)
        span.visually-hidden 4 звезды
    li.rate-button__item
      input.visually-hidden(id=`set-number-${setNumber}-star-5`, type=`checkbox`, name=`rate`, value=`5`)
      label.rate-button__star(for=`set-number-${setNumber}-star-5`)
        span.visually-hidden 5 звезд
