mixin custom-text-field(options)
  p.custom-text-field(class= attributes.class)
    label(
      for= options.id
      class= options.isLabelShown ? `` : `visually-hidden`)= options.label
    input(
      type= options.type
      name= options.name
      id= options.id
      placeholder= options.placeholder)
    if options.button
      button.custom-text-field__arrow-btn(type="submite")
