mixin custom-radiobutton(options)
  p.custom-radiobutton(class= attributes.class)
    input.visually-hidden(
      type="radio",
      name= options.name,
      id= options.id,
      value= options.value,
      checked= options.isChecked)
    label(for= options.id)= options.label
